@theme {
	--color-primary: #e6e8e8;
	--color-secondary: #acadae;
	--color-brand-secondary: #51d0b9;
	--color-bg: #0a051f;
	--color-border: #8a8a8a5e;
	--color-brand: #2a48f3;
	--color-card: #ffffff0e;
	--color-article: #6f6f6f33;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
